[default]
    logging_level: 20
    project_dir:

[parameters]

[download]

[upload]
    raw_data_path = ${default:project_dir}/raw/
    interim_data_path = ${default:project_dir}/interim/
    processed_data_path = ${default:project_dir}/processed/
